<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=FinPersonales;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
    <add name="FinPersonales.Properties.Settings.FinPersonalesConnectionString"
      connectionString="Data Source=.;Initial Catalog=FinPersonales;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <authentication mode="Forms">
      <forms name="yourAuthCookie" loginUrl="login.aspx" protection="All" path="/"/>
    </authentication>

    <membership defaultProvider="AspNetMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="DefaultConnection"
             applicationName="/"
             requiresUniqueEmail="false"
             requiresQuestionAndAnswer="false"
             minRequiredPasswordLength="10"
             passwordAttemptWindow="10"/>
      </providers>
    </membership>

    <!-- added by NH to support membership providers in access layer -->
    <roleManager enabled="true" defaultProvider="SqlServerRoleProvider">
      <providers>
        <clear/>
        <add name="SqlServerRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>

    <profile enabled="true" defaultProvider="AspNetProfileProvider">
      <providers>
        <clear/>
        <add name="AspNetProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>

      <properties>
        <add name="Name" />
        <add name="Weight" type="System.Int32" />
        <add name="BirthDate"
             type="System.DateTime" />
      </properties>
    </profile>

  </system.web>

</configuration>